@theme {
  --color-accent: var(--accent);
  --color-accent5: var(--accent5);
  --color-accent10: var(--accent10);
  --color-accent15: var(--accent15);
  --color-accent20: var(--accent20);
  --color-accent25: var(--accent25);
  --color-accent30: var(--accent30);
  --color-accent35: var(--accent35);
  --color-accent40: var(--accent40);
  --color-accent45: var(--accent45);
  --color-accent50: var(--accent50);
  --color-accent55: var(--accent55);
  --color-accent60: var(--accent60);
  --color-accent65: var(--accent65);
  --color-accent70: var(--accent70);
  --color-accent75: var(--accent75);
  --color-accent80: var(--accent80);
  --color-accent85: var(--accent85);
  --color-accent90: var(--accent90);
  --color-accent95: var(--accent95);

  --color-bg: var(--bg);
  --color-bg5: var(--bg5);
  --color-bg10: var(--bg10);
  --color-bg15: var(--bg15);
  --color-bg20: var(--bg20);
  --color-bg25: var(--bg25);
  --color-bg30: var(--bg30);
  --color-bg35: var(--bg35);
  --color-bg40: var(--bg40);
  --color-bg45: var(--bg45);
  --color-bg50: var(--bg50);
  --color-bg55: var(--bg55);
  --color-bg60: var(--bg60);
  --color-bg65: var(--bg65);
  --color-bg70: var(--bg70);
  --color-bg75: var(--bg75);
  --color-bg80: var(--bg80);
  --color-bg85: var(--bg85);
  --color-bg90: var(--bg90);
  --color-bg95: var(--bg95);

  --color-primary: var(--primary);
  --color-primary5: var(--primary5);
  --color-primary10: var(--primary10);
  --color-primary15: var(--primary15);
  --color-primary20: var(--primary20);
  --color-primary25: var(--primary25);
  --color-primary30: var(--primary30);
  --color-primary35: var(--primary35);
  --color-primary40: var(--primary40);
  --color-primary45: var(--primary45);
  --color-primary50: var(--primary50);
  --color-primary55: var(--primary55);
  --color-primary60: var(--primary60);
  --color-primary65: var(--primary65);
  --color-primary70: var(--primary70);
  --color-primary75: var(--primary75);
  --color-primary80: var(--primary80);
  --color-primary85: var(--primary85);
  --color-primary90: var(--primary90);
  --color-primary95: var(--primary95);

  --color-secondary: var(--secondary);
  --color-secondary5: var(--secondary5);
  --color-secondary10: var(--secondary10);
  --color-secondary15: var(--secondary15);
  --color-secondary20: var(--secondary20);
  --color-secondary25: var(--secondary25);
  --color-secondary30: var(--secondary30);
  --color-secondary35: var(--secondary35);
  --color-secondary40: var(--secondary40);
  --color-secondary45: var(--secondary45);
  --color-secondary50: var(--secondary50);
  --color-secondary55: var(--secondary55);
  --color-secondary60: var(--secondary60);
  --color-secondary65: var(--secondary65);
  --color-secondary70: var(--secondary70);
  --color-secondary75: var(--secondary75);
  --color-secondary80: var(--secondary80);
  --color-secondary85: var(--secondary85);
  --color-secondary90: var(--secondary90);
  --color-secondary95: var(--secondary95);

  --color-text: var(--text);
  --color-text5: var(--text5);
  --color-text10: var(--text10);
  --color-text15: var(--text15);
  --color-text20: var(--text20);
  --color-text25: var(--text25);
  --color-text30: var(--text30);
  --color-text35: var(--text35);
  --color-text40: var(--text40);
  --color-text45: var(--text45);
  --color-text50: var(--text50);
  --color-text55: var(--text55);
  --color-text60: var(--text60);
  --color-text65: var(--text65);
  --color-text70: var(--text70);
  --color-text75: var(--text75);
  --color-text80: var(--text80);
  --color-text85: var(--text85);
  --color-text90: var(--text90);
  --color-text95: var(--text95);
}
